Thumbs.db
.DS_Store
.gradle
build/
**/target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
assets/
**/cdk.out/
**/.flattened-pom.xml
**/dependency-reduced-pom.xml
**/*.bkp
**/*.dtmp
/infra/cdk.context.json
/pom.xml.versionsBackup
/fortune.bgv
